/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 5, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Program Files/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes nextIcon {
  from {
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate(-50%, 70%);
    transform: translate(-50%, 70%);
    opacity: 1;
  }
}
@-webkit-keyframes nextIcon {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, 70%);
    transform: translate(-50%, 70%);
    opacity: 1;
  }
}
@keyframes nextIcon {
  from {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0;
  }
  to {
    -moz-transform: translate(-50%, 70%);
    -ms-transform: translate(-50%, 70%);
    -webkit-transform: translate(-50%, 70%);
    transform: translate(-50%, 70%);
    opacity: 1;
  }
}
@-moz-keyframes carMoveOne {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  49% {
    background-image: url("../img/car_1.png");
  }
  50% {
    top: 41%;
    right: 86%;
    background-image: url("../img/car_2.png");
  }
  90% {
    opacity: 1;
  }
  99% {
    background-image: url("../img/car_2.png");
  }
  100% {
    top: 60%;
    right: 35%;
    opacity: 0;
  }
}
@-webkit-keyframes carMoveOne {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  49% {
    background-image: url("../img/car_1.png");
  }
  50% {
    top: 41%;
    right: 86%;
    background-image: url("../img/car_2.png");
  }
  90% {
    opacity: 1;
  }
  99% {
    background-image: url("../img/car_2.png");
  }
  100% {
    top: 60%;
    right: 35%;
    opacity: 0;
  }
}
@keyframes carMoveOne {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  49% {
    background-image: url("../img/car_1.png");
  }
  50% {
    top: 41%;
    right: 86%;
    background-image: url("../img/car_2.png");
  }
  90% {
    opacity: 1;
  }
  99% {
    background-image: url("../img/car_2.png");
  }
  100% {
    top: 60%;
    right: 35%;
    opacity: 0;
  }
}
@-moz-keyframes peopleMove {
  100% {
    top: 49%;
    left: 50%;
  }
}
@-webkit-keyframes peopleMove {
  100% {
    top: 49%;
    left: 50%;
  }
}
@keyframes peopleMove {
  100% {
    top: 49%;
    left: 50%;
  }
}
@-moz-keyframes scale {
  0% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 62, ../sass/index_style.scss */
html {
  width: 100%;
  height: 100%;
  font-family: "SimHei";
  font-size: 62.5%;
  overflow: hidden;
}

/* line 69, ../sass/index_style.scss */
body {
  width: 100%;
  height: 100%;
  font-size: 0;
}

/* line 74, ../sass/index_style.scss */
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 78, ../sass/index_style.scss */
.container li {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in-out 0s;
}
/* line 86, ../sass/index_style.scss */
.img-wrap img {
  width: 100%;
  height: 100%;
}

/* line 91, ../sass/index_style.scss */
.page-hidden {
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

/* line 94, ../sass/index_style.scss */
.home-page {
  z-index: 10;
  background-color: #F8E3BD;
}

/* line 98, ../sass/index_style.scss */
.group-intr {
  z-index: 2;
  background: url("../img/group-bg.png") center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 103, ../sass/index_style.scss */
.process-intr {
  z-index: 1;
}

/* line 106, ../sass/index_style.scss */
.group-advice {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: 8;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.5s ease-in-out 0s;
}

/* line 115, ../sass/index_style.scss */
.group-advice-hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 1;
}

/* line 119, ../sass/index_style.scss */
.car {
  position: absolute;
  top: 21%;
  right: 37%;
  width: 5rem;
  height: 3.5rem;
  background: url("../img/car_1.png") center no-repeat;
  -moz-animation: carMoveOne 7s linear 0s infinite;
  -webkit-animation: carMoveOne 7s linear 0s infinite;
  animation: carMoveOne 7s linear 0s infinite;
}

/* line 128, ../sass/index_style.scss */
.people {
  position: absolute;
  top: 46%;
  left: 59%;
  width: 8%;
  -moz-animation: peopleMove 2s ease-in-out 0s infinite alternate;
  -webkit-animation: peopleMove 2s ease-in-out 0s infinite alternate;
  animation: peopleMove 2s ease-in-out 0s infinite alternate;
}
/* line 133, ../sass/index_style.scss */
.people img {
  width: 100%;
}

/* line 138, ../sass/index_style.scss */
.I-icon {
  position: absolute;
  top: 35%;
  left: 3%;
  width: 40%;
}
/* line 143, ../sass/index_style.scss */
.I-icon img {
  height: auto;
}

/* line 147, ../sass/index_style.scss */
.next-button {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 2rem;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-animation: nextIcon 1.5s ease-in-out infinite;
  -webkit-animation: nextIcon 1.5s ease-in-out infinite;
  animation: nextIcon 1.5s ease-in-out infinite;
  z-index: 15;
}
/* line 153, ../sass/index_style.scss */
.next-button img {
  width: 100%;
}

/* line 159, ../sass/index_style.scss */
.group-container {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  overflow-x: hidden;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 168, ../sass/index_style.scss */
.circle-wrap {
  position: absolute;
  left: 50%;
  top: 2%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 174, ../sass/index_style.scss */
.circle-wrap .circle {
  position: static;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: url("../img/circle.png") center no-repeat;
}

/* line 182, ../sass/index_style.scss */
.circle-wrap .circle-active {
  background: url("../img/circle_active.png") center no-repeat;
}

/* line 187, ../sass/index_style.scss */
.container .group-wrap {
  width: 100%;
}

/* line 190, ../sass/index_style.scss */
.group-hidden {
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

/* line 193, ../sass/index_style.scss */
.mobile-group {
  z-index: 9;
}

/* line 196, ../sass/index_style.scss */
.xunce-group {
  z-index: 8;
}

/* line 199, ../sass/index_style.scss */
.weidanmu-group {
  z-index: 7;
}

/* line 202, ../sass/index_style.scss */
.norway-group {
  z-index: 6;
}

/* line 205, ../sass/index_style.scss */
.meiguo-group {
  z-index: 5;
}

/* line 208, ../sass/index_style.scss */
.smartSAN-group {
  z-index: 4;
}

/* line 211, ../sass/index_style.scss */
.huawei-group {
  z-index: 3;
}

/* line 216, ../sass/index_style.scss */
.join-dian {
  position: absolute;
  width: 50%;
  left: 27%;
  top: 43%;
  -moz-animation: scale 1s ease-in-out 0s infinite alternate;
  -webkit-animation: scale 1s ease-in-out 0s infinite alternate;
  animation: scale 1s ease-in-out 0s infinite alternate;
}
