.error {
    margin-left: 28px;
}

#input_tel-error, #input_mail-error {
    margin-left: 0;
}

#input_prizes-error, #input_tech-error, #input_intro-error, #input_join-error {
   margin-bottom:20px;
}
#sex-error{
    position: absolute;
    right: 448px;
    margin-top: 12px;
}
#grade-error{
    position: absolute;
    right: 448px;
    margin-top: 24px;
}
.content {
    height: auto;
    margin: 0;
    padding: 0;
    background: #FFFCF9;
    border-top: 1px solid #ECE8E5;
}

.content input[type="text"], .content textarea {
    border-radius: 3px;
}

input[type="text"], textarea{
    background-color: #FFFCF9;
}

#input_sex_f, #input_sex_m {
}

input[type="radio"], #input_sex_f, #input_sex_m {
    -webkit-appearance: none;

    border: 1px solid #A18864;

    height: 20px;
    width: 20px;
    border-radius: 10px;

    background-color: #FFFCF9;
    box-shadow: 0 0 2px #A18864;
    outline: none;
}

input[type="radio"]:checked,
#input_sex_f:checked,
#input_sex_m:checked {
    background-color: #FA8823;
    border: 5px solid #FFFCF9;
}

input[type="radio"]:checked {
    position: relative;
    top: -1;
}

.fillin_item, .check_item, #title {
    margin: 0;
    padding: 0;
    border: 0;

    margin-left: 546px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.fillin_item input,#female {
    margin: 0;
    padding: 0;
    border: 0;
}

.fillin_item p, .check_item p {
    display: inline-block;

    margin: 0;
    padding: 0;
    border: 0;

    font-size: 14px;
    color: #393939;
}

.fillin_item input[type="text"] {
    width: 248px;
    height: 40px;
    margin-left: 10px;

    font-size: 14px;
    color: #393939;
    border: #A18864 solid 0.5px;

    text-align: left;
    padding-left: 14px;
}

#input_prizes, #input_tech, #input_intro, #input_join {
    position: relative;
    left: 10px;
    width: 380px;
    height: 68px;

    resize: none;
    font-size: 14px;
    color: #393939;
    border: #A18864 solid 0.5px;

    text-align: left;
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 0;
}

#text_prizes, #text_tech, #text_intro, #text_join {
    position: relative;
    top: -56px;
}

#line_prizes, #line_tech {
    position: relative;
    left: -28px;

    height: 84px;
}

#line_intro, #line_join {
    position: relative;
    left: -56px;

    height: 84px;
}

#line_gpa {
    position: relative;
    left: -55px;
}

#line_sex {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
}

#line_join {
    margin-bottom: 48px;
}

#female {
    margin-right: 10px;
}

#tel, #mail, #input_tel, #input_mail {
    position: relative;
    left: -27px;
}

#input_sex_m, #input_sex_f, #input_grade_16,
#input_grade_15, #input_grade_14, #input_grade_13 {
    position: relative;
    top: 3px;
    left: 10px;

    width: 20px;
    height: 20px;
    font-size: 10px;

    margin: 0;
    padding: 0;
    margin-right: 20px;
}

#input_sex_m, #input_sex_f {
    top: 6px;
}

#input_grade_14, #input_grade_13 {
    position: relative;
    left: 42px;
}

.input_grade_1516 {
    display: inline;

    height: 20px;
}

.input_grade_1314 {
    display: block;

    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 24px;
    width: 248px;
    height: 20px;
}

.input_grade_1314 p {
    position: relative;
    left: 32px;
}

.input_grade_1516 p, .input_grade_1314 p {
    height: 20px;
}

#text_14, #text_16 {
    margin-right: 20px;
}

#title {
    margin-top: 48px;
    margin-bottom: 48px;

    font-size: 20px;
    color: #FA8823;
}

#m_join {
    border-bottom: 1px solid #FA8823;
}

#submit {
    position: relative;
    left: 588px;

    width: 248px;
    height: 40px;

    margin-bottom: 40px;
    border: 0;
    border-radius: 3px;
    background: #FA8823;
    box-shadow: 5px 5px 10px rgb(104, 104, 104);

    font-size: 12px;
    color: #FFFFFF;
}

.fillin_item p {
    position: relative;
    top: 0px;
}

.footer, #footer {
    background: 0;
}