.circle,.circleImg{

    display: inline-block;
    width: 160px;
    height: 160px;
    background: url(/Dian/img/cherry.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}
#mobileGroup{
    position: absolute;
    top:16%;
    left: 33%;
}
#xunceGroup{
    position: absolute;
    top:16%;
    right: 33%;
}
#chuangyeGroup{
    position: absolute;
    top:45%;
    left: 10%;
}
#norwayGroup{
    position: absolute;
    top:45%;
    left: 33%;
}
#meiguoGroup{
    position: absolute;
    top:45%;
    right: 33%;
}
#smartSanGroup{
    position: absolute;
    top:45%;
    right: 10%;
}
#xunCe,#norway,#smartSan{
    background-color: #FFE6D0;
}
.oddImg{
    position: absolute;
    top:25%;
    left: 12%;
}
.evenImg{
    position: absolute;
    top:25%;
    right: 12%;
}
h1{
    color: #FA8823;
    font-size: 45px;
}
.introduceBox1{
    position:absolute;
    top:20%;
    right: 25%;
    text-align: center;
}
.introduceBox2{
    position:absolute;
    top:20%;
    left: 25%;
    text-align: center;
}
.textBox1{
    position:absolute;
    top:33%;
    right: 25%;
}
.textBox2{
    position:absolute;
    top:33%;
    left: 25%;
}