body{
    font-family: arial, helvetica, sans-serif;
    margin: auto !important;
}

p {
    line-height: 22px;
    font-size: 16px;
}

.circle,.circleImg{
    display: inline-block;
    width: 160px;
    height: 160px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}
#mobileGroup{
    position: absolute;
    top:14%;
    left: 18%;
}
#xunceGroup{
    position: absolute;
    top:14%;
    right: 47%;
}
#chuangyeGroup{
    position: absolute;
    top:14%;
    right: 24%;
}

#norwayGroup{
    position: absolute;
    top:46%;
    left:7%;
}
#meiguoGroup{
    position: absolute;
    top: 46%;
    left: 30%;
}
#smartSanGroup{
    position: absolute;
    top:46%;
    right: 35%;
}

#huaweiGroup {
    position: absolute;
    top: 46%;
    right: 12%;
}

#xunCe,#norway,#smartSan{
    background-color: #FFE6D0;
}
.oddImg{
    position: absolute;
    top:7.5%;    
    width: 555px;
    height: 523px;
    left:5.5%;
}
.evenImg{
    position: absolute;
    top:7.5%;
    width: 555px;
    height: 523px;    
    right:5.5%;    
}

h1{
    color: #FA8823;
    font-size: 42px;
}

.textBox1{   
    position:absolute;
    top:25%;
    right: 17%;
    text-align: justify;     
    width: 480px;
}
.textBox1_chuangye{
    position:absolute;
    top:25%;
    right: 17%;
    text-align: justify;
    width: 478px;
}
.textBox1_meiguo{
    position:absolute;
    top:24%;
    right: 16%;
}
.textBox1_huaWei{
    position:absolute;
    top:23%;
    right: 14%;
    text-align: justify;
    width: 520px;
}
.textBox2{
    position:absolute;
    top:28%;
    left: 17%;
    text-align: justify;    
    overflow: hidden;
    width: 477px;
}

.group_name_l {
    text-align: right;
}

.group_name_r {
    text-align: left;
}



#qgroup.big {
    margin: 10px 0 10px 0;
    color: #A18864;
    font-size: 24px;
}

#qrcode.big{
    margin: 0 auto;
    width: 180px;
    height: 180px;
    padding-bottom: 50px;
}
#qrcodeBig{
    width: 180px;
    height: 180px;
}