body {
	width: 1440px;	
	height: auto;
	margin: 0 auto;
}

.navi {
	position: relative;
	z-index: 2;
	height: 64px;
	background: #FFFCF9;
}

.logo {
	display: inline-block;
	margin: 0;
	margin-left: 220px;
	margin-top: 14px;
	padding: 0;
	border: 0;
	height: 36px;
	width: 87px;
}

.menu {
	position: relative;
	z-index: 2;

	margin: 0; 	
	margin-top: 23px;
	padding: 0;
	display: inline-block;
	list-style: none;
	float: right;
	white-space: nowrap;
}

	.menu li {
		display: inline;
		width: 66px;
		margin: 0;
		padding-left: 30px;
		padding-right: 30px; 
		text-align: center;
		padding-bottom: 23px;
	}
	.menu a{
		color: #7C6C61;
		font-size: 12px;
		text-decoration: none;
	}

	#m_join {
		margin-right: 189px;
	}

.poster {
	height: 640px;
	margin: 0;
	padding: 0;
	border-top: 1px solid #ECE8E5;
}

.footer, #footer {
	background: #FFFCF9;
	text-align: center;
}

.footer {
	padding-top: 0px;
	height: auto;
}

	.footer p {
		display: inline-block;
	}

#contactD {
	margin: 0;	
	padding-top: 26px;
	border: 0;
}

.dotL,.dotR {
	display: inline-block;
	color: #A18864;
	margin: 0;
	padding: 0;
	border: 0;
}

.dotL p, .dotR p {
	display: inline;
	font-size: 2px;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	border: 0;
} 

#contact {
	margin: 0;
	padding: 0;
	border: 0;
	color: #F8AF42;
	font-size: 14px;
}

#tm {
	position: relative;
	right: 12px;
	color: #A18864;
	font-size: 12px;
	margin-top: 21px;	
	padding: 0;
	border: 0;
}

#tm p {
	margin: 0;
}

#qgroup {
	margin: 10px 0 10px 0;	
	color: #A18864;
	font-size: 12px;	
}

#qrcode {
	margin: 0 auto;
	width: 79px;
	height: 79px;
	padding-bottom: 50px;
}
