
.content {
	height: 640px;
	margin: 0;
	padding: 0;
	border-top: 1px solid #ECE8E5;
}

.fillin_item, .check_item, #title {
	margin: 0;
	padding: 0;
	border: 0; 

	margin-left: 546px;
	margin-bottom: 24px;
	margin-top: 24px;
}

.fillin_item input,#female {
	margin: 0;
	padding: 0;
	border: 0; 	
}

.check_item p {
	display: inline-block;

	margin: 0;
	padding: 0;
	border: 0;
}

.fillin_item p,.check_item p {
	display: inline-block;

	font-size: 14px;
	color: #393939;
}

.fillin_item input {
	width: 248px;
	height: 40px;
	margin-left: 10px; 

	font-size: 14px;
	color: #393939;
	border: #A18864 solid 0.5px;

	text-align: left;
	padding-left: 14px;
}

.input_grade_1314 {
	display: block;

	margin: 0;
	padding: 0;
	margin-top: 16px; 
	width: 248px;
}

#line_sex {
	margin-bottom: 0;
	margin-top: 0;
	height: 40px;
}

#female {
	margin-right: 10px;
}

#tel, #mail, #input_tel, #input_mail {
	position: relative;
	left: -27px;
}

#input_sex_m, #input_sex_f, #input_grade_16,
#input_grade_15, #input_grade_14, #input_grade_13 {
	position: relative;
	top: 5px;
 	left: 10px;

	width: 20px;
	height: 20px;
	font-size: 10px;

	margin: 0;
	padding: 0;
	margin-right: 20px;
}

#input_grade_14, #input_grade_13{
	position: relative;
	left: 46px;
}

.input_grade_1314 {
	margin: 0;
	margin-top: 16px;
	margin-bottom: 24px;
}

.input_grade_1314 p {
	position: relative;
	left: 36px;
}

#text_14, #text_16 {
	margin-right: 20px;
}

#title {
	margin-top: 48px;
	margin-bottom: 48px;

	font-size: 20px;
	color: #FA8823;	
}

#m_join {
	border-bottom: 1px solid #FA8823;
}
